.contact {
  width: 100vw;
  background-color: black;
  color: white;
  padding: 1vmin;
  padding-bottom: 1.5vmin;
}

.address {
  padding-left: 10px;
}
.link {
  color: #0d6efd;
  text-decoration: none;
  font-weight: 500;
}

.link:hover {
  text-decoration: underline;
}

.address {
  padding-left: 10px;
}
